html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.fa-film {
  font-size: 5rem;
  color: darkblue;
}

nav ul li + li {
  font-size: 3rem;
  cursor: pointer;
}

nav ul li + li:hover {
  text-decoration: underline blue;
}
