html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(241, 148, 93);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(48, 49, 112);
}

li {
  list-style: none;
  gap: 12px;
  font-size: 10px;
}

header div {
  display: flex;
  align-items: center;
}

nav {
  border-bottom: 0.3rem solid rgb(56, 209, 89);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding-right: 1rem;
}

.movies-sect,
.series-sect {
  font-size: clamp(1.4rem, 3.5vw, 3rem);
  color: rgb(236, 233, 233);
  font-family:
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
  cursor: pointer;
  margin: 0;
}

.site-title {
  font-size: clamp(1.2rem, 3vw, 2.3rem);
  color: white;
  font-family:
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}

main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.comment-list li {
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1.3rem;
  border: 1px solid rgba(245, 242, 242, 0.603);
  border-radius: 3px;
  width: 90%;
  word-wrap: break-word;
}

.comment-list {
  padding: 0;
  width: 80%;
  height: 28.8rem;
  outline: 0.1rem outset;
  overflow-y: scroll;
  gap: 0.5rem;
}

.fa-film {
  font-size: clamp(2rem, 4vw, 3.2rem);
  color: rgb(203, 203, 211);
}

nav ul li h1:hover {
  transform: translateY(-2px);
  color: rgb(23, 179, 106);
}

.focussed {
  text-decoration: underline rgb(241, 148, 93);
}

.films {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  gap: 1.5rem;
}

.film {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
  width: 20rem;
  background-color: rgb(48, 49, 112);
  outline: inset rgb(56, 209, 89);
}

.image-container {
  width: 100%;
}

.film-image {
  width: 100%;
  height: 20rem;
}

.film-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem;
  width: 100%;
}

.popup-image {
  width: clamp(30rem, 30%, 40rem);
  height: 30rem;
}

.fa-heart {
  font-size: 2rem;
  cursor: pointer;
  color: rgba(255, 8, 0, 0.863);
}

.fa-heart:active {
  color: rgb(255, 0, 255);
  transform: scale(1.2);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.comments {
  align-self: flex-start;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.3em;
  border-top-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: rgb(23, 179, 106);
  border: none;
  color: rgb(65, 47, 8);
}

.comments:active {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

footer {
  width: 100%;
  border: 0.2rem solid black;
  background-color: rgb(48, 49, 112);
  color: white;
}

#txt-area {
  font-size: clamp(1.2rem, 2vw, 2rem);
  padding-left: 2em;
}

#footer-bg {
  height: clamp(0.5rem, 2vw, 2rem);
  background-color: grey;
}

form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likes {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: rgb(216, 216, 189);
}

#username,
#comment {
  background-color: #f1945d;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid;
}

#username::placeholder,
#comment::placeholder {
  color: black;
}

#input-error::before {
  content: "*";
  color: red;
}

#input-error {
  display: none;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-style: italic;
}

#submit {
  width: 70%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgb(23, 179, 106);
}

#user {
  font-size: 1.2rem;
  color: blue;
  font-weight: bold;
}

#user-comment {
  font-size: 1.2rem;
  font-weight: bold;
}

.name-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  align-self: flex-start;
}

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.656);
  display: none;
  padding: 2rem max(5vw, 0.5rem);
  backdrop-filter: blur(3px);
  overflow-y: scroll;
}

.popup-window {
  position: relative;
  width: 80%;
  padding: 2rem;
  background-color: #f1945d;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 90vh;
  overflow-y: scroll;
}

.popup-window > h2 {
  font-size: 2rem;
  align-self: center;
  text-decoration: underline red;
}

.movie-info {
  display: flex;
  gap: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid;
  height: 30rem;
  overflow-y: scroll;
  width: 70%;
}

.description p {
  font-size: 1.7rem;
  font-family: sans-serif;
}

.description > span {
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 1rem;
}

.popup-comments {
  align-self: center;
  font-size: 1.5rem;
  text-decoration: underline;
  padding: 3rem;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.close-icon:hover {
  color: red;
  transform: scale(1.5);
}

.form-container {
  display: flex;
  flex-direction: row-reverse;
  border: solid;
  width: clamp(50rem, 70%, 80rem);
  justify-content: space-around;
  gap: 4rem;
  height: 30rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
  }

  .description {
    width: 100%;
  }

  .films {
    width: 100%;
  }

  .popup-image {
    width: min(70vw, 30rem);
    height: 30rem;
  }

  .form-container {
    flex-direction: column-reverse;
    height: 45rem;
    padding: 0;
    width: clamp(25rem, 70%, 35rem);
    gap: 0;
    border: solid;
  }

  .comment-list {
    width: 100%;
    padding: 1rem;
  }

  .name-field {
    width: clamp(17rem, 50%, 25rem);
    align-self: center;
  }
}

@media only screen and (max-width: 414px) {
  .film {
    width: 15rem;
  }

  .film-image {
    height: 15rem;
  }
}
