html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.fa-film {
  font-size: 5rem;
  color: darkblue;
}

nav ul li + li {
  font-size: 3rem;
  cursor: pointer;
}

.focussed {
  text-decoration: underline blue;
}

main {
  margin-bottom: 5rem;
}

.films {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  gap: 1.5rem;
}

.film-image {
  width: 100%;
}

.films li {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0.2rem solid red;
  text-align: center;
  font-size: 1vw;
}

.film-image {
  width: 22vw;
  height: 24vw;
}

.film-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.fa-heart {
  font-size: 2rem;
  cursor: pointer;
}

.comments {
  align-self: flex-start;
  margin: 0 0 1rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.3em;
  border: solid;
}

footer {
  width: 100%;
  border: 0.2rem solid black;
  background-color: white;
}

#txt-area {
  height: 5rem;
  font-size: 2rem;
  padding-left: 2em;
}

#footer-bg {
  height: 3rem;
  background-color: grey;
}

.likes {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.popup-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.656);
  display: none;
  padding: 5rem;
  backdrop-filter: blur(3px);
}

.popup-window {
  position: relative;
  width: 80%;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.popup-window > h2 {
  font-size: 2rem;
  align-self: center;
  text-decoration: underline red;
}

.movie-info {
  display: flex;
  gap: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: solid;
  height: 24vw;
  overflow-y: scroll;
}

.description p {
  font-size: 1.7rem;
  font-family: sans-serif;
}

.description > span {
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 1rem;
}

.popup-comments {
  align-self: center;
  font-size: 1.5rem;
  text-decoration: underline;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.close-icon:hover {
  color: red;
  transform: scale(1.5);
}
